@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '-apple-system', 'BlinkMacSystemFont', sans-serif;
    user-select: none;
}
body{
    /* height: 3000px; */
    padding-top:150px ;
    background-color: rgb(255, 255, 255);
}
.header{
    position: fixed;
    /* background-color: rgb(255, 221, 0); */
    
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

}
.footer{
    padding-top:100px ;
}

.navbar{
    height: 80px;
}
  .nav-item.btns button {
    margin-bottom: 10px;
    margin-right: 20px;
    padding: auto;
  }
  .navbar-brand{
      margin-left: 100px;
      /* padding-left: 100px; */
      margin-right: 0px;
  
  }
  .search-container {
    margin-left: 180px;
    top: 2px;
    left: 0px;
      position: relative; 
    }
    .search-container input:focus {
      box-shadow: none;
      outline: none;
      border-color: inherit;
      -webkit-box-shadow: none;
    }
    
    .search-container ion-icon {
      position: absolute;
      top: 20px;
      transform: translateY(-50%);
      left: 10px;
      color: #555;
      size: 32px;
    }
    
    .search-container input {
      padding-left: 40px;
    }
  
  .login-btn{
      right: 0;
      margin-left: 0px;
      margin-right: 0px;
  }
  .signup-btn{
    margin-right: 20PX;
  }
  .btns{
    right: 0px;
    margin-right: 70px;
    margin-top: 5px;
  
    
  }
  .btns li {
  
    right: 0;
    display: inline-block;
    margin-right: 0px;
  }
  
  .sell-btn{
      margin-left: 0px;
  }
  #form-control-me-2{
  
       border-radius: 25px;
       width: 600px;
       left: 0px;
       
  }
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .search-form {
    flex: 1;
    text-align: center;
  }
  
  .search-container {
    display: inline-block;
  }
  
  .btns {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .btns li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .btns button {
    margin-left: 10px;
  }


.runningtxt{
    margin-top: 80px;
    height: 30px;
    width: 100%;
    background-color: rgb(210, 210, 210);
    color: rgb(0, 0, 0);
    align-items: center;
    text-align: center;
}
.menu-bar{
    background-color: rgba(255, 255, 255, 0.5); /* transparent white background */
    height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 300px;
    backdrop-filter: blur(10px); /* blur effect */
    margin-bottom: 10px;
}

.nav-link{
    color: #636363;
    font-size: 15px;
    margin-top: -2px;
}
.nav-link:hover{
    color: #000000;
    text-decoration: none;
}

.nav-item.dropdown {
    list-style: none;
  }

.quote-container{
    color: #5f5959;
    padding-top: 30px;
    /* position: absolute; */
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left:400px;
    margin-right: 400px;
    transition: transform 0.3s;
}
.quote-container:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.quote-bold{
    color: #000;
    font-size: 50px;
    font-weight: 700;
}
.quote{
    font-size: 50px;
    font-weight: 400;
}
.quote-container img{
    width: 150px;
}

.product-categories{
    padding-top: 30px;
    justify-content: center;
    display: flex;
    text-align: center;
}
.product-category{
    transition: transform 0.3s;
    padding: 40px;
}
.product-category:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.category-txt{
    font-weight: 500;
}

/* login, signup, seller */
.login-logo{
    text-align: center;
    margin: 0px;
}
.login-logo header{
    color: #333;
    font-size: 30px;
    font-weight: 600;
}
.login-box{
    border-radius: 30px;
    background-color: rgb(195, 198, 198);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;
}
.login-header{
    text-align: center;
    margin: 10px 0 20px 0;
}
.login-header header{
    color: #333;
    font-size: 30px;
    font-weight: 600;
}
.input-box .input-field{
    
    color: #000000;
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.05);
    outline: none;
    transition: .3s;
}
::placeholder{
    font-weight: 500;
    color: #777777;
}
.input-field:focus{
    width: 100%;
}
.forgot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
section{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}
#check{
    margin-right: 10px;
}
a{
    text-decoration: none;
    
}
a:hover{
    text-decoration: underline;
}
section a{
    color: #555;
}
.input-submit{
    position: relative;
}
.submit-btn{
    width: 100%;
    height: 60px;
    background: #222;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}
.input-submit label{
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.submit-btn:hover{
    background: #000;
    transform: scale(1.05,1);
}
.sign-up-link{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}
.sign-up-link a{
    color: #000;
    font-weight: 600;
}

.back-to-login-link{
  text-align: center;
    font-size: 15px;
    margin-top: 20px;
}
.back-to-login-link a{
  color: #000;
    font-weight: 600;
}

.sign-in-link{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}
.sign-in-link a{
    color: #000;
    font-weight: 600;
}

#modal-body{
    padding: 5%;
    
}

#box-header{
    display: flex;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    font-weight: 1000;
    font-size: xx-large;
    margin-bottom: 10px;
    margin-top: -10px;
}

.modal {
    border-radius: 50px; 
    overflow: hidden;
  }

.modal-body {
    background-color: #e4e4e4;
  }
  .modal-header {
    background-color: #e4e4e4; 
    color: #0e0e0e; 

  }
  .modal-content {
    border-radius: 30px !important;
    overflow: hidden !important;
  }
  #btn-close{
    box-shadow: none;
    outline: none;
    border-color: inherit;
    -webkit-box-shadow: none;
}
  

#email-error {
    margin-left: 20px;
    font-size: smaller;
  }
  #password-error{
    font-size: smaller;
    margin-left: 20px;
    margin-top: -15px;
  }
  
  #email-error-message{
    margin-left: 20px;
    font-size: smaller;
  }
  #error-message{
    margin-left: 20px;
    font-size: smaller;
  }
  #sellerEmailError{
    margin-left: 20px;
    font-size: smaller;
  }
  #seller-password-error{
    margin-left: 20px;
    font-size: smaller;
    margin-top: -15px;
  }
  #sellerphoneError{
    margin-left: 20px;
    font-size: smaller;
  }

/* banner */
.banner{
    margin-top: 10px;
}
