@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    /* padding-right: -100px; */
    /* position: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: #dfdfdf;
}
#nav-bar-head{
    top: 0px;
    /* margin-top: 10px; */
    height: 90px;
    position: absolute;
}


#btn-close{
    box-shadow: none;
    outline: none;
    border-color: inherit;
    -webkit-box-shadow: none;

}
.nav-item.btns {
  flex-direction: column;
}

.nav-item.btns button {
  margin-bottom: 10px;
}
.navbar-brand{
    margin-left: 50px;
    margin-right: 0px;

}
.search-container {
  margin-left: 100px;
  top: 2px;
  left: 0px;
    position: relative; 
  }
  .search-container input:focus {
    box-shadow: none;
    outline: none;
    border-color: inherit;
    -webkit-box-shadow: none;
  }
  .form-control:focus {
    box-shadow: none;
    outline: none;
    border-color: inherit;
    -webkit-box-shadow: none;
  }
  
  .search-container ion-icon {
    position: absolute;
    top: 20px;
    transform: translateY(-50%);
    left: 10px;
    color: #555;
    size: 32px;
  }
  
  .search-container input {
    padding-left: 40px;
  }

.login-btn{
    right: 0;
    margin-left: 0px;
    margin-right: 0px;
}
.signup-btn{
  margin-right: 20PX;
}
.btns{
  right: 0px;
  margin-right: 70px;
  margin-top: 5px;

  
}
.btns li {

  right: 0;
  display: inline-block;
  margin-right: 0px;
}

.sell-btn{
    margin-left: 0px;
}
#form-control-me-2{

     border-radius: 25px;
     width: 600px;
     left: 0px;
     
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form {
  flex: 1;
  text-align: center;
}

.search-container {
  display: inline-block;
}

.btns {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.btns li {
  display: inline-block;
  margin-right: 10px;
}

.btns button {
  margin-left: 10px;
}

.login-logo{
    text-align: center;
    margin: 0px;
}
.login-logo header{
    color: #333;
    font-size: 30px;
    font-weight: 600;
}
.login-box{
    border-radius: 30px;
    background-color: rgb(195, 198, 198);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;
}
.login-header{
    text-align: center;
    margin: 10px 0 20px 0;
}
.login-header header{
    color: #333;
    font-size: 30px;
    font-weight: 600;
}
.input-box .input-field{
    
    color: #000000;
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.05);
    outline: none;
    transition: .3s;
}
::placeholder{
    font-weight: 500;
    color: #777777;
}
.input-field:focus{
    width: 100%;
}
.forgot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
section{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}
#check{
    margin-right: 10px;
}
a{
    text-decoration: none;
    
}
a:hover{
    text-decoration: underline;
}
section a{
    color: #555;
}
.input-submit{
    position: relative;
}
.submit-btn{
    width: 100%;
    height: 60px;
    background: #222;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}
.input-submit label{
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.submit-btn:hover{
    background: #000;
    transform: scale(1.05,1);
}
.sign-up-link{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}
.sign-up-link a{
    color: #000;
    font-weight: 600;
}

.sign-in-link{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}
.sign-in-link a{
    color: #000;
    font-weight: 600;
}

#modal-body{
    padding: 5%;
    
}

#box-header{
    display: flex;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    font-weight: 1000;
    font-size: xx-large;
    margin-bottom: 10px;
    margin-top: -10px;
}

.modal {
    border-radius: 50px; 
    overflow: hidden;
  }

.modal-body {
    background-color: #e4e4e4;
  }
  .modal-header {
    background-color: #e4e4e4; 
    color: #0e0e0e; 

  }
  .modal-content {
    border-radius: 30px !important;
    overflow: hidden !important;
  }

.runningtxt{
    background-color: rgb(238, 238, 238);
    position: absolute;
    top: 0px; 
    margin-top: 87px;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 1; 
    text-align: center; 
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: flex-start; 
    }
.quote-container{
  margin-bottom: 10px;
  bottom: 0px;
  margin-top: -200px;
  justify-content: center;
  left: 0px;
  top: 0;
  right: 0;
  position: relative;
  width: 100%;
  display: flex;
  user-select: none;
}
.quote-bold{
        color: rgb(0, 0, 0);
        font-weight: 800;
      }
      
      .quote {
        margin-left: 10px;
        /* margin-right: 250px; */
        left: 0;
        top: 0;
        margin-top: 15px;
        font-size: 40px;
        font-style: Bold;
        color: #333; 
        width: 500px;
        user-select: none;
      }
      
      .logo {
        right: 0px;
        width: 150px;
        height: 150px;
        margin-left: 0px;
        margin-right: 10px;
      }
      
      .quote:hover {
        animation: pulse 1s infinite;
      }
      
      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }
/* Product categories */
.product-categories{
  /* background-color: #000; */
  /* width: 100%; */
  height: 170px;
  display: flex;
  /* flex-direction: row; */
  position: absolute;
  margin-top: 150px;
  margin-bottom: 10px;
  align-items: center;
  text-align: center;
  user-select: none;
}
  .product-category{
    margin: 30px;
    margin-bottom: 10px;
    /* padding: 35px; */
    /* align-items: center; */
    text-align: center;
    user-select: none;
  }
  .product-category:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }


  .category{
    margin-top: 10px;
    font-weight: 500;
  }
  .cat-electronics{
    margin-bottom: -10px;
    margin-top: 10px;
  }
  .cat-furniture{
    margin-top: 20px;
    margin-bottom: -20px;
  }


  /* footer */
  footer {
    position: absolute; /* change from fixed to relative */
    top: 1000px;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    clear: both; /* add clear:both to make sure the footer clears any floating elements */
  }

.testdiv{
  margin-top: 500px;
  /* bottom: 0; */
  /* margin-bottom:1000px; */
  background-color: blueviolet;
  position: absolute;
}