@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* user-select: none; */
}
body{
    /* height: 3000px; */
    padding-top:130px ;
    background-color: rgb(255, 255, 255);
}
body::-webkit-scrollbar {
  width: 9px;
}

body::-webkit-scrollbar-track {
  /* background-color: rgba(255, 255, 255, 0.5); */
  backdrop-filter: blur(20px);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(185, 184, 184);
  border-radius: 50px;
}
.header{
    position: fixed;    
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

}
.footer{
    padding-top:100px ;
}

.navbar{
    height: 65px;
}
  .nav-item.btns button {
    margin-bottom: 10px;
    margin-right: 20px;
    padding: auto;
  }
  .navbar-brand{
      margin-left: 100px;
      /* padding-left: 100px; */
      margin-right: 0px;
      text-decoration: none !important;
  }
  .search-container {
    margin-left: 180px;
    top: 2px;
    left: 0px;
      position: relative; 
    }
    .search-container input:focus {
      box-shadow: none;
      outline: none;
      border-color: inherit;
      -webkit-box-shadow: none;
    }
    
    .search-container ion-icon {
      position: absolute;
      top: 19px;
      transform: translateY(-50%);
      left: 10px;
      color: #555;
      size: 32px;
    }
    
    .search-container input {
      padding-left: 40px;
    }
  
  .login-btn{
      right: 0;
      margin-left: 0px;
      margin-right: 0px;
  }
  .signup-btn{
    margin-right: 20PX;
  }
  .btns{
    right: 0px;
    margin-right: 70px;
    margin-top: 5px;
  
    
  }
  .btns li {
  
    right: 0;
    display: inline-block;
    margin-right: 0px;
  }
  
  .sell-btn{
      margin-left: 0px;
  }
  #form-control-me-2{
  
       border-radius: 25px;
       width: 600px;
       left: 0px;
       
  }
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .search-form {
    flex: 1;
    text-align: center;
  }
  
  .search-container {
    display: inline-block;
  }
  
  .btns {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .btns li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .btns button {
    margin-left: 10px;
  }
/* login, signup, register */
.login-logo{
  text-align: center;
  margin: 0px;
}
.login-logo header{
  color: #333;
  font-size: 30px;
  font-weight: 600;
}
.login-box{
  border-radius: 30px;
  background-color: rgb(195, 198, 198);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 440px;
  height: 480px;
  padding: 30px;
}
.login-header{
  text-align: center;
  margin: 10px 0 20px 0;
}
.login-header header{
  color: #333;
  font-size: 30px;
  font-weight: 600;
}
.input-box .input-field{
  
  color: #000000;
  width: 100%;
  height: 60px;
  font-size: 17px;
  padding: 0 25px;
  margin-bottom: 15px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.05);
  outline: none;
  transition: .3s;
}
::placeholder{
  font-weight: 500;
  color: #777777;
}
.input-field:focus{
  width: 100%;
}
.forgot{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
section{
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
}
#check{
  margin-right: 10px;
}
a{
  text-decoration: none;
  
}
a:hover{
  text-decoration: underline;
}
section a{
  color: #555;
}
.input-submit{
  position: relative;
}
.submit-btn{
  width: 100%;
  height: 60px;
  background: #222;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s;
}
.input-submit label{
  position: absolute;
  top: 45%;
  left: 50%;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.submit-btn:hover{
  background: #000;
  transform: scale(1.05,1);
}
.sign-up-link{
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
}
.sign-up-link a{
  color: #000;
  font-weight: 600;
}

.back-to-login-link{
text-align: center;
  font-size: 15px;
  margin-top: 20px;
}
.back-to-login-link a{
color: #000;
  font-weight: 600;
}

.sign-in-link{
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
}
.sign-in-link a{
  color: #000;
  font-weight: 600;
}

#modal-body{
  padding: 5%;
  
}

#box-header{
  display: flex;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  font-weight: 1000;
  font-size: xx-large;
  margin-bottom: 10px;
  margin-top: -10px;
}

.modal {
  border-radius: 50px; 
  overflow: hidden;
}

.modal-body {
  background-color: #e4e4e4;
}
.modal-header {
  background-color: #e4e4e4; 
  color: #0e0e0e; 

}
.modal-content {
  border-radius: 30px !important;
  overflow: hidden !important;
}
#btn-close{
  box-shadow: none;
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
}


#email-error {
  margin-left: 20px;
  font-size: smaller;
}
#password-error{
  font-size: smaller;
  margin-left: 20px;
  margin-top: -15px;
}

#email-error-message{
  margin-left: 20px;
  font-size: smaller;
}
#error-message{
  margin-left: 20px;
  font-size: smaller;
}
#sellerEmailError{
  margin-left: 20px;
  font-size: smaller;
}
#seller-password-error{
  margin-left: 20px;
  font-size: smaller;
  margin-top: -15px;
}
#sellerphoneError{
  margin-left: 20px;
  font-size: smaller;
}

.runningtxt{
    margin-top: 60px;
    height: 30px;
    width: 100%;
    background-color: rgb(245, 245, 245);
    align-items: center;
    text-align: center;
}
.runningtxt marquee{
  margin-top: 2px;
  color: rgb(68, 68, 68);
}
.menu-bar{
  /* position: absolute; */
    background-color: rgba(206, 206, 206, 0.5); /* transparent white background */
    height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 300px;
    backdrop-filter: blur(10px); /* blur effect */
    margin-bottom: 10px;
    /* top: 80px; */
}
.dropdown-item {
  color: #767676;
}
.dropdown-item:active {
  /* color: white; */
  background-color: rgb(255, 255, 255) !important;
}
.dropdown-item:hover {
  text-decoration: none;
  color: #000000;
}

.nav-link{
    color: #636363;
    font-size: 14px;
    margin-top: -3px;
}
.nav-link:hover{
    color: #000000;
    text-decoration: none;
}

.nav-item.dropdown {
    list-style: none;
  }


/* product-page */
.product-page{
    top: 0;
    /* padding: 20px; */
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
}



.filter-container{
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 20%;
    background-color: red;
    height: 700px;
}

/* Product-list */
.products-list{
    border-radius: 10px;
    margin: 10px;
    /* padding: 10px; */
    /* background-color: #000000; */
    width:80%;
}
.card{
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-card{
    max-height: 250px;
    padding: 10px;
    justify-content: space-evenly;
}
    .rounded-start{
        height: 200px;
        width: 200px;
        padding: 5px;
    }
    .img-container{
        width: 210px;
        /* background-color: #b3b0b0; */
        align-items: center;
        text-align: center;
    }
    .product-details{
        /* background-color: bisque; */
        width: 600px;
    }
    .price{
      font-size: 30px;
      display: flex;
      height: 45px;
    }
    .price-container{
      /* display: flex; */
      font-weight:500 ;
      
        width: 200px;
        /* background-color: aquamarine; */
    }
    
  
    .price-strikethrough{
      color: #636363;
      padding-left: 10px;
      margin-top: 15px;
      font-size: 15px;
      text-decoration: line-through;
    }
    .available-stock{
      padding-top: 5px;
      display: flex;
      font-size: 15px;
      margin-top: 0;
    }
    .available-stock-count{
      font-size: 20px;
      margin-top: -5px;
      color: red;
      padding-left: 5px;

    }
    /* From Uiverse.io by shah1345 */ 
.product-buy-btn button {
  width: 110px;
  justify-content: center;
  /* display: flex; */
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 5px 5px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 0.5em;
  background: #f9f9f9;
  border: 1px solid #e8e8e8;
  -webkit-box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  box-shadow: 6px 6px 12px #dedddd, -6px -6px 12px #ffffff;
}

.product-buy-btn button:active {
  color: #666;
  -webkit-box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.product-buy-btn button:before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) scaleY(1) scaleX(1.25);
  -ms-transform: translateX(-50%) scaleY(1) scaleX(1.25);
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  -webkit-transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.product-buy-btn button:after {
  content: "";
  position: absolute;
  left: 55%;
  -webkit-transform: translateX(-50%) scaleY(1) scaleX(1.45);
  -ms-transform: translateX(-50%) scaleY(1) scaleX(1.45);
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #2e2e2e;
  border-radius: 50%;
  display: block;
  -webkit-transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.product-buy-btn button:hover {
  color: #ffffff;
  border: 1px solid #3d3d3d;
}

.product-buy-btn button:hover:before {
  top: -35%;
  background-color: #474747;
  -webkit-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  -ms-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.product-buy-btn button:hover:after {
  top: -45%;
  background-color: #4c4c4c;
  -webkit-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  -ms-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.bid-btn{
  margin-top: 15px !important;
}

.price-range-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-range-inputs input {
  width: 45%;
  margin: 0 10px;
}
.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}